flask
line-bot-sdk
transformers
torch
diffusers
accelerate
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
markdown
beautifulsoup4
google-generativeai
requests
apscheduler
pytz
python-dotenv
huggingface-hub
